openapi: 3.2.0
info:
  title: Temenos Cloud Banking (CMB) Lending API
  description: Country-specific commercial and cloud banking APIs delivering front-to-back services for accounts, deposits, lending, trade finance, and payments with pre-wired APIs and regional regulatory compliance for markets including Australia, Canada, Mexico, UK, US, and more. Provides pre-configured banking products and workflows adapted for local regulations.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/cmb/v1
  description: Temenos Cloud Banking API - Production
security:
- bearerAuth: []
tags:
- name: Lending
  description: Commercial lending operations including loan origination, facility management, and repayment processing.
paths:
  /lending/facilities:
    get:
      operationId: listLendingFacilities
      summary: List Lending Facilities
      description: Retrieve commercial lending facilities including credit lines, term loans, and revolving facilities with utilization details.
      tags:
      - Lending
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: customerId
        in: query
        description: Filter by customer
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/LendingFacility'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createLendingFacility
      summary: Create Lending Facility
      description: Originate a new lending facility with specified terms, collateral, and repayment conditions.
      tags:
      - Lending
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LendingFacilityCreate'
      responses:
        '201':
          description: Facility created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingFacility'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    LendingFacility:
      type: object
      description: Commercial lending facility
      properties:
        facilityId:
          type: string
          description: Facility identifier
        customerId:
          type: string
          description: Customer identifier
        facilityType:
          type: string
          description: Facility type
          enum:
          - TERM_LOAN
          - REVOLVING_CREDIT
          - OVERDRAFT
          - TRADE_FINANCE
        currency:
          type: string
          description: Facility currency
        approvedAmount:
          type: number
          format: double
          description: Approved facility amount
        utilizedAmount:
          type: number
          format: double
          description: Current utilization
        interestRate:
          type: number
          format: double
          description: Interest rate
        maturityDate:
          type: string
          format: date
          description: Maturity date
        status:
          type: string
          description: Facility status
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
    LendingFacilityCreate:
      type: object
      required:
      - customerId
      - facilityType
      - currency
      - amount
      properties:
        customerId:
          type: string
          description: Customer identifier
        facilityType:
          type: string
          description: Facility type
          enum:
          - TERM_LOAN
          - REVOLVING_CREDIT
          - OVERDRAFT
        currency:
          type: string
          description: Currency
          pattern: ^[A-Z]{3}$
        amount:
          type: number
          format: double
          description: Requested amount
        term:
          type: integer
          description: Term in months
    PaginationHeader:
      type: object
      properties:
        page_size:
          type: integer
        page_start:
          type: integer
        total_size:
          type: integer
  parameters:
    pageStart:
      name: page_start
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos CMB API Documentation
  url: https://developer.temenos.com/cmb
