openapi: 3.2.0
info:
  title: Temenos Transact Settings API
  description: Core banking system API for Temenos Transact (formerly T24), providing comprehensive banking functionality across enterprise, holdings, order, party, product, reference, meta, settings, and system API categories. Covers over 290 endpoints spanning retail, corporate, wealth, treasury, and Islamic banking operations. All APIs follow REST architecture and represent data as resources in machine-readable JSON format.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/transact/v1
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/transact/v1
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: Settings
  description: Configuration management for system-wide and user-specific settings with 6 endpoints.
paths:
  /settings/configurations:
    get:
      operationId: listConfigurations
      summary: List System Configurations
      description: Retrieve system-wide and user-specific configuration settings for the Temenos Transact platform.
      tags:
      - Settings
      responses:
        '200':
          description: Successful retrieval of configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Configuration'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field related to the error
              message:
                type: string
                description: Detail message
    Configuration:
      type: object
      description: System configuration setting
      properties:
        configurationId:
          type: string
          description: Configuration identifier
        configurationGroup:
          type: string
          description: Configuration category group
        key:
          type: string
          description: Configuration key
        value:
          type: string
          description: Configuration value
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT-based authentication token obtained through the Temenos authentication endpoint.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for API access
      flows:
        authorizationCode:
          authorizationUrl: https://auth.temenos.com/oauth2/authorize
          tokenUrl: https://auth.temenos.com/oauth2/token
          scopes:
            read: Read access to banking data
            write: Write access to banking data
            admin: Administrative access
externalDocs:
  description: Temenos Transact API Documentation
  url: https://developer.temenos.com/transact-apis
