openapi: 3.2.0
info:
  title: Temenos Enterprise Product and Pricing Party Details API
  description: APIs for product pricing, quotation simulation, package arrangements, pricing adjustments, transparency details, and promotions management for banking products and services. Enables simulation of account creation and transaction events to determine applicable pricing details including interest rates, fees, and cashback. Supports pricing negotiation through quotation references and manual adjustment workflows.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/enterprise-pricing/v1
  description: Temenos Enterprise Pricing API - Production
security:
- bearerAuth: []
tags:
- name: Party Details
  description: Retrieve customer contracts, pricing information, related parties, and eligibility status within the pricing system.
paths:
  /party/{customerId}/contracts:
    get:
      operationId: getCustomerContracts
      summary: Get Customer Contracts And Accounts
      description: Retrieve all holdings, contracts, and accounts for a party within the pricing system.
      tags:
      - Party Details
      parameters:
      - name: customerId
        in: path
        required: true
        description: Customer identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerContract'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /party/{customerId}/pricing:
    get:
      operationId: getCustomerPricing
      summary: Get Customer Pricing
      description: Retrieve all pricing information for a customer including pricing identifiers and applied benefit adjustments.
      tags:
      - Party Details
      parameters:
      - name: customerId
        in: path
        required: true
        description: Customer identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerPricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    CustomerContract:
      type: object
      description: Customer contract within pricing system
      properties:
        contractId:
          type: string
          description: Contract identifier
        productId:
          type: string
          description: Product identifier
        productName:
          type: string
          description: Product name
        status:
          type: string
          description: Contract status
    CustomerPricing:
      type: object
      description: Customer pricing information
      properties:
        arrangementId:
          type: string
          description: Arrangement identifier
        pricingId:
          type: string
          description: Pricing identifier
        interestRate:
          type: number
          format: double
          description: Effective interest rate
        adjustments:
          type: array
          description: Applied adjustments
          items:
            type: object
            properties:
              type:
                type: string
                description: Adjustment type
              value:
                type: number
                format: double
                description: Adjustment value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos Enterprise Product Pricing API Documentation
  url: https://developer.temenos.com/temenos-enterprise-product-pricing-apis
