openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts System API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: System
  description: Core system functionality and administration including system configuration, audit, and operational management with 25 endpoints.
paths:
  /system/status:
    get:
      operationId: getSystemStatus
      summary: Get System Status
      description: Retrieve the current system status including operational state, version information, and system health indicators.
      tags:
      - System
      responses:
        '200':
          description: Successful retrieval of system status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    SystemStatus:
      type: object
      description: System status information
      properties:
        status:
          type: string
          description: Current system operational status
          enum:
          - OPERATIONAL
          - DEGRADED
          - MAINTENANCE
        version:
          type: string
          description: System version
        uptime:
          type: string
          description: System uptime duration
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field related to the error
              message:
                type: string
                description: Detail message
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
