openapi: 3.2.0
info:
  title: Temenos Payments API
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
  description: 'Operations tagged Payments across 2 of this provider''s published API definitions: temenos-cloud-banking-openapi.yml, temenos-infinity-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.temenos.com/cmb/v1
  description: Temenos Cloud Banking API - Production
- url: https://api.temenos.com/infinity/v1
  description: Temenos Infinity API - Production
- url: https://sandbox.temenos.com/infinity/v1
  description: Temenos Infinity API - Sandbox
security:
- bearerAuth: []
tags:
- name: Payments
  description: Country-specific payment processing including domestic and international transfers with local clearing integration.
paths:
  /payments:
    post:
      operationId: createCmbPayment
      summary: Create Payment
      description: Initiate a payment through country-specific clearing channels with local regulatory validation and compliance checks.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CmbPaymentCreate'
      responses:
        '201':
          description: Payment initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmbPayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.temenos.com/cmb/v1
      description: Temenos Cloud Banking API - Production
  /payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Get Payment Status
      description: Retrieve the current status and details of a previously initiated payment including processing status, timestamps, and confirmation details.
      tags:
      - Payments
      parameters:
      - name: paymentId
        in: path
        required: true
        description: Unique payment identifier
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.temenos.com/infinity/v1
      description: Temenos Infinity API - Production
    - url: https://sandbox.temenos.com/infinity/v1
      description: Temenos Infinity API - Sandbox
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest_2:
      description: Invalid request parameters or payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
    Unauthorized_2:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
  schemas:
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
    CmbPayment:
      type: object
      description: Payment record
      properties:
        paymentId:
          type: string
          description: Payment identifier
        debitAccountId:
          type: string
          description: Debit account
        amount:
          type: number
          format: double
          description: Amount
        currency:
          type: string
          description: Currency
        status:
          type: string
          description: Payment status
    CmbPaymentCreate:
      type: object
      required:
      - debitAccountId
      - amount
      - currency
      properties:
        debitAccountId:
          type: string
          description: Debit account
        beneficiaryName:
          type: string
          description: Beneficiary name
        beneficiaryAccountId:
          type: string
          description: Beneficiary account
        amount:
          type: number
          format: double
          description: Payment amount
        currency:
          type: string
          description: Currency
          pattern: ^[A-Z]{3}$
        reference:
          type: string
          description: Payment reference
    Error_2:
      type: object
      description: Error response
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
              message:
                type: string
                description: Detail of the error
          description: Additional error details
    PaymentRequest:
      type: object
      description: Payment initiation request
      required:
      - debitAccountId
      - creditAccountId
      - amount
      - currency
      properties:
        debitAccountId:
          type: string
          description: Source account identifier
        creditAccountId:
          type: string
          description: Destination account or beneficiary identifier
        amount:
          type: number
          description: Payment amount
          minimum: 0
          exclusiveMinimum: true
        currency:
          type: string
          description: ISO 4217 currency code
          pattern: ^[A-Z]{3}$
        paymentType:
          type: string
          description: Type of payment
          enum:
          - DOMESTIC_TRANSFER
          - INTERNATIONAL_TRANSFER
          - BILL_PAYMENT
        narrative:
          type: string
          description: Payment reference or description
          maxLength: 140
    PaymentResponse:
      type: object
      description: Payment status and details
      properties:
        paymentId:
          type: string
          description: Unique payment identifier
        status:
          type: string
          description: Current payment status
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
          - FAILED
          - CANCELLED
        debitAccountId:
          type: string
          description: Source account identifier
        creditAccountId:
          type: string
          description: Destination account identifier
        amount:
          type: number
          description: Payment amount
        currency:
          type: string
          description: ISO 4217 currency code
        createdDate:
          type: string
          format: date-time
          description: Timestamp when the payment was created
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- temenos-cloud-banking-openapi.yml
- temenos-infinity-openapi.yml
