openapi: 3.2.0
info:
  title: Temenos Infinity Digital Banking Customers API
  description: Digital banking platform API for Temenos Infinity, providing omnichannel customer experiences across retail and business banking channels. Enables integration with Temenos Fabric and Temenos Visualizer for building responsive digital banking applications. Supports Open Banking via PSD2-compliant APIs and connects to over 100 FinTech services through the Temenos MarketPlace. Uses JavaScript frameworks such as React for front-end experience creation and provides REST APIs for accessing banking data as resources in machine-readable JSON format.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/infinity/v1
  description: Temenos Infinity API - Production
- url: https://sandbox.temenos.com/infinity/v1
  description: Temenos Infinity API - Sandbox
security:
- bearerAuth: []
tags:
- name: Customers
  description: Create and manage customer profiles, preferences, and digital identities across omnichannel touchpoints.
paths:
  /customers/{customerId}:
    get:
      operationId: getCustomer
      summary: Get Customer Profile
      description: Retrieve customer profile information including personal details, contact information, preferences, and linked accounts across the digital banking platform.
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/customerId'
      responses:
        '200':
          description: Successfully retrieved customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateCustomer
      summary: Update Customer Profile
      description: Update customer profile information including contact details, communication preferences, and notification settings.
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/customerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: Successfully updated customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: Invalid request parameters or payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Address:
      type: object
      description: Postal address
      properties:
        addressLine1:
          type: string
          description: First line of address
        addressLine2:
          type: string
          description: Second line of address
        city:
          type: string
          description: City name
        state:
          type: string
          description: State or province
        postalCode:
          type: string
          description: Postal or ZIP code
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          pattern: ^[A-Z]{2}$
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
              message:
                type: string
                description: Detail of the error
          description: Additional error details
    Customer:
      type: object
      description: Customer profile in the digital banking platform
      properties:
        customerId:
          type: string
          description: Unique customer identifier
        firstName:
          type: string
          description: Customer first name
        lastName:
          type: string
          description: Customer last name
        email:
          type: string
          format: email
          description: Primary email address
        phone:
          type: string
          description: Primary phone number
        dateOfBirth:
          type: string
          format: date
          description: Date of birth
        address:
          $ref: '#/components/schemas/Address'
    CustomerUpdate:
      type: object
      description: Fields available for customer profile update
      properties:
        email:
          type: string
          format: email
          description: Updated email address
        phone:
          type: string
          description: Updated phone number
        address:
          $ref: '#/components/schemas/Address'
  parameters:
    customerId:
      name: customerId
      in: path
      required: true
      description: Unique customer identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token obtained through OAuth 2.0 authentication flow with the Temenos identity provider.
externalDocs:
  description: Temenos Infinity API Documentation
  url: https://developer.temenos.com/infinity/apis
