openapi: 3.2.0
info:
  title: Temenos Transact System API
  description: Core banking system API for Temenos Transact (formerly T24), providing comprehensive banking functionality across enterprise, holdings, order, party, product, reference, meta, settings, and system API categories. Covers over 290 endpoints spanning retail, corporate, wealth, treasury, and Islamic banking operations. All APIs follow REST architecture and represent data as resources in machine-readable JSON format.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/transact/v1
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/transact/v1
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: System
  description: Core system functionality and administration including system configuration, audit, and operational management with 25 endpoints.
paths:
  /system/status:
    get:
      operationId: getSystemStatus
      summary: Get System Status
      description: Retrieve the current system status including operational state, version information, and system health indicators.
      tags:
      - System
      responses:
        '200':
          description: Successful retrieval of system status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    SystemStatus:
      type: object
      description: System status information
      properties:
        status:
          type: string
          description: Current system operational status
          enum:
          - OPERATIONAL
          - DEGRADED
          - MAINTENANCE
        version:
          type: string
          description: System version
        uptime:
          type: string
          description: System uptime duration
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field related to the error
              message:
                type: string
                description: Detail message
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT-based authentication token obtained through the Temenos authentication endpoint.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for API access
      flows:
        authorizationCode:
          authorizationUrl: https://auth.temenos.com/oauth2/authorize
          tokenUrl: https://auth.temenos.com/oauth2/token
          scopes:
            read: Read access to banking data
            write: Write access to banking data
            admin: Administrative access
externalDocs:
  description: Temenos Transact API Documentation
  url: https://developer.temenos.com/transact-apis
