openapi: 3.2.0
info:
  title: Temenos Payments Payment Configuration API
  description: Payment processing and management API supporting multiple payment types including SEPA credit transfers, instant SEPA payments, SWIFT cross-border payments, PSD2 compliant open banking payments, request-to-pay, bulk payment initiation, direct debit management, and payment stop requests. Built on Berlin Group PSD2 API standards with full ISO 20022 messaging support and integrated clearing through the Temenos Payments Hub.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/payments/v1
  description: Temenos Payments API - Production
- url: https://sandbox.temenos.com/payments/v1
  description: Temenos Payments API - Sandbox
security:
- bearerAuth: []
tags:
- name: Payment Configuration
  description: Configuration APIs for payment order application setup, clearing channels, and payment routing management.
paths:
  /configuration/paymentRoutes:
    get:
      operationId: listPaymentRoutes
      summary: List Payment Routing Configurations
      description: Retrieve payment routing configurations including clearing channel assignments and payment type routing rules.
      tags:
      - Payment Configuration
      responses:
        '200':
          description: Successful retrieval of payment routes
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
    PaymentRoute:
      type: object
      description: Payment routing configuration
      properties:
        routeId:
          type: string
          description: Unique route identifier
        paymentType:
          type: string
          description: Payment type for routing
        clearingChannel:
          type: string
          description: Assigned clearing channel
        priority:
          type: integer
          description: Routing priority
        status:
          type: string
          description: Route configuration status
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT-based authentication token obtained through the Temenos authentication endpoint.
externalDocs:
  description: Temenos Open Banking and Payments Documentation
  url: https://developer.temenos.com/open-banking&payments
