openapi: 3.2.0
info:
  title: Temenos Transact Meta API
  description: Core banking system API for Temenos Transact (formerly T24), providing comprehensive banking functionality across enterprise, holdings, order, party, product, reference, meta, settings, and system API categories. Covers over 290 endpoints spanning retail, corporate, wealth, treasury, and Islamic banking operations. All APIs follow REST architecture and represent data as resources in machine-readable JSON format.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/transact/v1
  description: Temenos Transact API - Production
- url: https://sandbox.temenos.com/transact/v1
  description: Temenos Transact API - Sandbox
security:
- bearerAuth: []
tags:
- name: Meta
  description: API ecosystem management and metadata retrieval for discovering available API resources and capabilities with 6 endpoints.
paths:
  /meta/apis:
    get:
      operationId: listApis
      summary: List Available APIs
      description: Retrieve metadata about available API resources and capabilities in the Temenos Transact platform for API discovery and navigation.
      tags:
      - Meta
      responses:
        '200':
          description: Successful retrieval of API metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ApiMetadata:
      type: object
      description: API resource metadata
      properties:
        apiName:
          type: string
          description: API resource name
        apiVersion:
          type: string
          description: API version
        description:
          type: string
          description: API resource description
        path:
          type: string
          description: API resource path
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field related to the error
              message:
                type: string
                description: Detail message
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT-based authentication token obtained through the Temenos authentication endpoint.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for API access
      flows:
        authorizationCode:
          authorizationUrl: https://auth.temenos.com/oauth2/authorize
          tokenUrl: https://auth.temenos.com/oauth2/token
          scopes:
            read: Read access to banking data
            write: Write access to banking data
            admin: Administrative access
externalDocs:
  description: Temenos Transact API Documentation
  url: https://developer.temenos.com/transact-apis
