openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Alert Management API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Alert Management
  description: Manage and investigate alerts generated by screening and monitoring processes including case management and disposition workflows.
paths:
  /alerts/{alertId}:
    get:
      operationId: getAlert
      summary: Get Alert Details
      description: Retrieve detailed information for a specific alert including match details, investigation notes, and disposition history.
      tags:
      - Alert Management
      parameters:
      - name: alertId
        in: path
        required: true
        description: Unique alert identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of alert details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateAlert
      summary: Update Alert Disposition
      description: Update the disposition of an alert including status changes, investigation notes, and closure decisions.
      tags:
      - Alert Management
      parameters:
      - name: alertId
        in: path
        required: true
        description: Unique alert identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertUpdate'
      responses:
        '200':
          description: Alert updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AlertUpdate:
      type: object
      description: Alert disposition update
      properties:
        status:
          type: string
          description: Updated status
          enum:
          - UNDER_REVIEW
          - ESCALATED
          - CLOSED_TRUE_MATCH
          - CLOSED_FALSE_POSITIVE
        assignedTo:
          type: string
          description: Assigned investigator
        note:
          type: string
          description: Investigation note
    AlertDetail:
      type: object
      description: Detailed alert information
      properties:
        alertId:
          type: string
          description: Alert identifier
        alertType:
          type: string
          description: Alert classification
          enum:
          - SANCTIONS
          - PEP
          - AML
          - FRAUD
        customerId:
          type: string
          description: Customer identifier
        severity:
          type: string
          description: Alert severity
        status:
          type: string
          description: Current status
        assignedTo:
          type: string
          description: Assigned investigator
        investigationNotes:
          type: array
          description: Investigation notes
          items:
            type: object
            properties:
              noteDate:
                type: string
                format: date-time
                description: Note timestamp
              author:
                type: string
                description: Note author
              content:
                type: string
                description: Note content
        createdDate:
          type: string
          format: date-time
          description: Creation timestamp
        lastUpdated:
          type: string
          format: date-time
          description: Last update timestamp
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
