openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Direct Debits API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Direct Debits
  description: Manage direct debit instructions and mandate collections for recurring payment scenarios including SEPA direct debits.
paths:
  /directDebits:
    get:
      operationId: listDirectDebits
      summary: List Direct Debit Mandates
      description: Retrieve direct debit instructions and mandate collections including SEPA direct debits with creditor details, amounts, and collection frequencies.
      tags:
      - Direct Debits
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: accountId
        in: query
        description: Filter by debited account identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of direct debit mandates
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/DirectDebit'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /directDebits/{directDebitId}:
    get:
      operationId: getDirectDebit
      summary: Get Direct Debit Details
      description: Retrieve detailed information for a specific direct debit mandate including collection history and next collection date.
      tags:
      - Direct Debits
      parameters:
      - name: directDebitId
        in: path
        required: true
        description: Unique direct debit mandate identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of direct debit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      description: Pagination metadata for list responses
      properties:
        page_size:
          type: integer
          description: Number of records per page
        page_start:
          type: integer
          description: Starting record number
        total_size:
          type: integer
          description: Total number of records available
    DirectDebit:
      type: object
      description: Direct debit mandate and instruction
      properties:
        directDebitId:
          type: string
          description: Unique direct debit identifier
        accountId:
          type: string
          description: Account to be debited
        mandateReference:
          type: string
          description: Direct debit mandate reference
        creditorName:
          type: string
          description: Name of the creditor
        creditorId:
          type: string
          description: Creditor identifier
        amount:
          type: number
          format: double
          description: Direct debit amount
        currency:
          type: string
          description: Currency in ISO 4217 format
        frequency:
          type: string
          description: Collection frequency
          enum:
          - WEEKLY
          - MONTHLY
          - QUARTERLY
          - ANNUAL
        nextCollectionDate:
          type: string
          format: date
          description: Next scheduled collection date
        status:
          type: string
          description: Mandate status
          enum:
          - ACTIVE
          - SUSPENDED
          - CANCELLED
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record number for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
