openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Loans API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Loans
  description: Manage BNPL loan lifecycle from origination through repayment including payment schedules and status tracking.
paths:
  /loans:
    get:
      operationId: listBnplLoans
      summary: List BNPL Loans
      description: Retrieve BNPL loans with their repayment status, payment schedules, and outstanding balances.
      tags:
      - Loans
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: customerId
        in: query
        description: Filter by customer
        schema:
          type: string
      - name: status
        in: query
        description: Filter by loan status
        schema:
          type: string
          enum:
          - ACTIVE
          - COMPLETED
          - DEFAULTED
          - CANCELLED
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/BnplLoan'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /loans/{loanId}:
    get:
      operationId: getBnplLoan
      summary: Get BNPL Loan Details
      description: Retrieve detailed BNPL loan information including payment schedule, payment history, and outstanding balance.
      tags:
      - Loans
      parameters:
      - name: loanId
        in: path
        required: true
        description: Loan identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BnplLoan'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      properties:
        page_size:
          type: integer
        page_start:
          type: integer
        total_size:
          type: integer
    BnplLoan:
      type: object
      description: BNPL loan
      properties:
        loanId:
          type: string
          description: Loan identifier
        customerId:
          type: string
          description: Customer identifier
        merchantId:
          type: string
          description: Merchant identifier
        purchaseAmount:
          type: number
          format: double
          description: Original purchase amount
        currency:
          type: string
          description: Currency
        outstandingBalance:
          type: number
          format: double
          description: Outstanding balance
        numberOfInstallments:
          type: integer
          description: Total installments
        installmentsPaid:
          type: integer
          description: Installments paid
        nextPaymentDate:
          type: string
          format: date
          description: Next payment date
        nextPaymentAmount:
          type: number
          format: double
          description: Next payment amount
        status:
          type: string
          description: Loan status
          enum:
          - ACTIVE
          - COMPLETED
          - DEFAULTED
          - CANCELLED
        createdDate:
          type: string
          format: date
          description: Loan creation date
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
  parameters:
    pageStart:
      name: page_start
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
