openapi: 3.2.0
info:
  title: Temenos Journey Manager Delivery API
  description: REST APIs for customer journey orchestration allowing external systems to integrate with Temenos Journey Manager for digital onboarding, form processing, and workflow management. Includes Application Package API, Delivery API, Form Groups API, Service Definitions API, Tasks API, Transactions API, Transaction History API, and Workspaces portal API.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://journey.temenos.com/api/
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://journey.temenos.com/api/v1
  description: Temenos Journey Manager API - Production
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Delivery
  description: Manage delivery channels, retrieve submissions, and process delivery completions and errors.
paths:
  /delivery/submissions:
    get:
      operationId: listSubmissions
      summary: List Submissions
      description: Retrieve a list of form submissions pending delivery processing.
      tags:
      - Delivery
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      responses:
        '200':
          description: Successful retrieval of submissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /delivery/submissions/{submissionId}:
    get:
      operationId: getSubmission
      summary: Get Submission Details
      description: Retrieve detailed submission data including form field values and submission metadata.
      tags:
      - Delivery
      parameters:
      - name: submissionId
        in: path
        required: true
        description: Submission identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /delivery/submissions/{submissionId}/complete:
    post:
      operationId: completeDelivery
      summary: Complete Delivery
      description: Mark a submission delivery as completed after successful processing by the receiving system.
      tags:
      - Delivery
      parameters:
      - name: submissionId
        in: path
        required: true
        description: Submission identifier
        schema:
          type: string
      responses:
        '200':
          description: Delivery marked as completed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Records per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    Submission:
      type: object
      description: Form submission
      properties:
        submissionId:
          type: string
          description: Submission identifier
        formName:
          type: string
          description: Form name
        data:
          type: object
          description: Submission data
          additionalProperties: true
        status:
          type: string
          description: Delivery status
        submittedDate:
          type: string
          format: date-time
          description: Submission timestamp
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://journey.temenos.com/oauth2/authorize
          tokenUrl: https://journey.temenos.com/oauth2/token
          scopes:
            read: Read access
            write: Write access
externalDocs:
  description: Temenos Journey Manager API Documentation
  url: https://journey.temenos.com/api/svcs-guide/rest-api/
