openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Event Store API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Event Store
  description: Retrieve business and system events raised from Temenos Transact and Infinity products.
paths:
  /events:
    get:
      operationId: listEvents
      summary: List Events
      description: Retrieve business and system events from the event store raised by Temenos Transact and Infinity products. Supports filtering by event type, date range, and source.
      tags:
      - Event Store
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: eventType
        in: query
        description: Filter by event type
        schema:
          type: string
          enum:
          - BUSINESS
          - SYSTEM
      - name: source
        in: query
        description: Filter by event source
        schema:
          type: string
      - name: dateFrom
        in: query
        description: Start date filter
        schema:
          type: string
          format: date-time
      - name: dateTo
        in: query
        description: End date filter
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful retrieval of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /events/{eventId}:
    get:
      operationId: getEvent
      summary: Get Event Details
      description: Retrieve detailed information for a specific event including the full event payload and processing metadata.
      tags:
      - Event Store
      parameters:
      - name: eventId
        in: path
        required: true
        description: Event identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      description: Pagination metadata
      properties:
        page_size:
          type: integer
        page_start:
          type: integer
        total_size:
          type: integer
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    Event:
      type: object
      description: Business or system event
      properties:
        eventId:
          type: string
          description: Event identifier
        eventType:
          type: string
          description: Event classification
          enum:
          - BUSINESS
          - SYSTEM
        eventName:
          type: string
          description: Event name
        source:
          type: string
          description: Event source application
        payload:
          type: object
          description: Event payload data
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
          description: Event timestamp
        correlationId:
          type: string
          description: Correlation identifier for tracing
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Records per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
