openapi: 3.2.0
info:
  title: Temenos Journey Manager Application Packages API
  description: REST APIs for customer journey orchestration allowing external systems to integrate with Temenos Journey Manager for digital onboarding, form processing, and workflow management. Includes Application Package API, Delivery API, Form Groups API, Service Definitions API, Tasks API, Transactions API, Transaction History API, and Workspaces portal API.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://journey.temenos.com/api/
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://journey.temenos.com/api/v1
  description: Temenos Journey Manager API - Production
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Application Packages
  description: Manage application packages including uploading, retrieving, and deleting application package archives.
paths:
  /packages:
    get:
      operationId: listApplicationPackages
      summary: List Application Packages
      description: Retrieve the list of available application packages with their metadata and version information.
      tags:
      - Application Packages
      responses:
        '200':
          description: Successful retrieval of packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationPackage'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: uploadApplicationPackage
      summary: Upload Application Package
      description: Upload a new application package archive for deployment in the Journey Manager platform.
      tags:
      - Application Packages
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archive:
                  type: string
                  format: binary
                  description: Application package archive file
      responses:
        '201':
          description: Package uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /packages/{packageId}:
    get:
      operationId: getApplicationPackage
      summary: Get Application Package
      description: Retrieve a specific application package with its metadata and configuration details.
      tags:
      - Application Packages
      parameters:
      - name: packageId
        in: path
        required: true
        description: Package identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteApplicationPackage
      summary: Delete Application Package
      description: Remove an application package from the Journey Manager platform.
      tags:
      - Application Packages
      parameters:
      - name: packageId
        in: path
        required: true
        description: Package identifier
        schema:
          type: string
      responses:
        '204':
          description: Package deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    ApplicationPackage:
      type: object
      description: Application package
      properties:
        packageId:
          type: string
          description: Package identifier
        name:
          type: string
          description: Package name
        version:
          type: string
          description: Package version
        description:
          type: string
          description: Package description
        status:
          type: string
          description: Package status
        createdDate:
          type: string
          format: date-time
          description: Creation timestamp
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://journey.temenos.com/oauth2/authorize
          tokenUrl: https://journey.temenos.com/oauth2/token
          scopes:
            read: Read access
            write: Write access
externalDocs:
  description: Temenos Journey Manager API Documentation
  url: https://journey.temenos.com/api/svcs-guide/rest-api/
