openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Standing Orders API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Standing Orders
  description: Create and manage standing order instructions for automated recurring payment execution.
paths:
  /standingOrders:
    get:
      operationId: listStandingOrders
      summary: List Standing Orders
      description: Retrieve standing order instructions for recurring payments with their frequency, amounts, beneficiary details, and execution status.
      tags:
      - Standing Orders
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: accountId
        in: query
        description: Filter by originating account identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of standing orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/StandingOrder'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createStandingOrder
      summary: Create Standing Order
      description: Create a new standing order instruction for automated recurring payments with specified frequency, amount, and beneficiary.
      tags:
      - Standing Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandingOrderCreate'
      responses:
        '201':
          description: Standing order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      description: Pagination metadata for list responses
      properties:
        page_size:
          type: integer
          description: Number of records per page
        page_start:
          type: integer
          description: Starting record number
        total_size:
          type: integer
          description: Total number of records available
    StandingOrderCreate:
      type: object
      description: Request body for creating a standing order
      required:
      - accountId
      - beneficiaryName
      - amount
      - currency
      - frequency
      - startDate
      properties:
        accountId:
          type: string
          description: Source account identifier
        beneficiaryName:
          type: string
          description: Beneficiary name
        beneficiaryIban:
          type: string
          description: Beneficiary IBAN
        beneficiaryBic:
          type: string
          description: Beneficiary bank BIC
        amount:
          type: number
          format: double
          description: Payment amount per execution
          minimum: 0.01
        currency:
          type: string
          description: Payment currency in ISO 4217 format
          pattern: ^[A-Z]{3}$
        frequency:
          type: string
          description: Execution frequency
          enum:
          - DAILY
          - WEEKLY
          - MONTHLY
          - QUARTERLY
          - ANNUAL
        startDate:
          type: string
          format: date
          description: First execution date
        endDate:
          type: string
          format: date
          description: Optional last execution date
        reference:
          type: string
          description: Payment reference
    StandingOrder:
      type: object
      description: Standing order instruction
      properties:
        standingOrderId:
          type: string
          description: Unique standing order identifier
        accountId:
          type: string
          description: Source account identifier
        beneficiaryName:
          type: string
          description: Beneficiary name
        beneficiaryIban:
          type: string
          description: Beneficiary IBAN
        amount:
          type: number
          format: double
          description: Payment amount per execution
        currency:
          type: string
          description: Payment currency
        frequency:
          type: string
          description: Execution frequency
          enum:
          - DAILY
          - WEEKLY
          - MONTHLY
          - QUARTERLY
          - ANNUAL
        startDate:
          type: string
          format: date
          description: First execution date
        endDate:
          type: string
          format: date
          description: Last execution date
        nextExecutionDate:
          type: string
          format: date
          description: Next scheduled execution date
        status:
          type: string
          description: Standing order status
          enum:
          - ACTIVE
          - SUSPENDED
          - COMPLETED
          - CANCELLED
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record number for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
