openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Transaction Monitoring API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Transaction Monitoring
  description: Monitor transactions for suspicious activity patterns including AML detection rules and fraud indicators.
paths:
  /monitoring/alerts:
    get:
      operationId: listMonitoringAlerts
      summary: List Transaction Monitoring Alerts
      description: Retrieve alerts generated by AML transaction monitoring rules including suspicious activity patterns and threshold breaches.
      tags:
      - Transaction Monitoring
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: status
        in: query
        description: Filter by alert status
        schema:
          type: string
          enum:
          - OPEN
          - UNDER_INVESTIGATION
          - ESCALATED
          - CLOSED
      - name: ruleId
        in: query
        description: Filter by monitoring rule identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of monitoring alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitoringAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      description: Pagination metadata
      properties:
        page_size:
          type: integer
          description: Records per page
        page_start:
          type: integer
          description: Starting record
        total_size:
          type: integer
          description: Total records
    MonitoringAlert:
      type: object
      description: Transaction monitoring alert
      properties:
        alertId:
          type: string
          description: Alert identifier
        customerId:
          type: string
          description: Customer identifier
        ruleId:
          type: string
          description: Triggered monitoring rule
        ruleName:
          type: string
          description: Rule description
        severity:
          type: string
          description: Alert severity
          enum:
          - HIGH
          - MEDIUM
          - LOW
        status:
          type: string
          description: Alert status
        transactionIds:
          type: array
          description: Related transaction identifiers
          items:
            type: string
        totalAmount:
          type: number
          format: double
          description: Total amount involved
        createdDate:
          type: string
          format: date-time
          description: Alert creation timestamp
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record number
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Number of records to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
