openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Meta API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Meta
  description: API ecosystem management and metadata retrieval for discovering available API resources and capabilities with 6 endpoints.
paths:
  /meta/apis:
    get:
      operationId: listApis
      summary: List Available APIs
      description: Retrieve metadata about available API resources and capabilities in the Temenos Transact platform for API discovery and navigation.
      tags:
      - Meta
      responses:
        '200':
          description: Successful retrieval of API metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ApiMetadata:
      type: object
      description: API resource metadata
      properties:
        apiName:
          type: string
          description: API resource name
        apiVersion:
          type: string
          description: API version
        description:
          type: string
          description: API resource description
        path:
          type: string
          description: API resource path
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
        details:
          type: array
          description: Additional error details
          items:
            type: object
            properties:
              field:
                type: string
                description: Field related to the error
              message:
                type: string
                description: Detail message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
