openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts PSD2 Accounts API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: PSD2 Accounts
  description: PSD2 compliant account information access for authorized third-party providers under Berlin Group standards.
paths:
  /psd2/accounts:
    get:
      operationId: listPsd2Accounts
      summary: List PSD2 Accounts
      description: Retrieve account information for authorized third-party provider access under PSD2 Berlin Group standards. Requires valid consent from the account holder.
      tags:
      - PSD2 Accounts
      parameters:
      - name: consentId
        in: header
        required: true
        description: PSD2 consent identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Psd2Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        errorMessage:
          type: string
          description: Human-readable error description
    Psd2Account:
      type: object
      description: PSD2 account information
      properties:
        resourceId:
          type: string
          description: Account resource identifier
        iban:
          type: string
          description: Account IBAN
        currency:
          type: string
          description: Account currency
        name:
          type: string
          description: Account name
        product:
          type: string
          description: Product name
        cashAccountType:
          type: string
          description: Account type code
        status:
          type: string
          description: Account status
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
