openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Callback Registry API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Callback Registry
  description: Register callback URLs to receive notifications when long-running transaction processing completes.
paths:
  /callbacks:
    get:
      operationId: listCallbacks
      summary: List Registered Callbacks
      description: Retrieve the list of registered callback URLs for receiving notifications about long-running transaction results.
      tags:
      - Callback Registry
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      responses:
        '200':
          description: Successful retrieval of callbacks
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Callback'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: registerCallback
      summary: Register Callback URL
      description: Register a callback URL for receiving notifications when long-running transaction processing completes.
      tags:
      - Callback Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackCreate'
      responses:
        '201':
          description: Callback registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Callback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /callbacks/{callbackId}:
    delete:
      operationId: removeCallback
      summary: Remove Callback Registration
      description: Remove a previously registered callback URL.
      tags:
      - Callback Registry
      parameters:
      - name: callbackId
        in: path
        required: true
        description: Callback registration identifier
        schema:
          type: string
      responses:
        '204':
          description: Callback removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    CallbackCreate:
      type: object
      description: Callback registration request
      required:
      - callbackUrl
      properties:
        callbackUrl:
          type: string
          format: uri
          description: Callback URL to register
        transactionType:
          type: string
          description: Transaction type to filter
    Callback:
      type: object
      description: Registered callback
      properties:
        callbackId:
          type: string
          description: Callback identifier
        callbackUrl:
          type: string
          format: uri
          description: Callback URL
        transactionType:
          type: string
          description: Transaction type filter
        status:
          type: string
          description: Registration status
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Records per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
