openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Deposits API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Deposits
  description: Manage deposit products including term deposits, demand deposits, and certificates of deposit with country-specific terms.
paths:
  /deposits:
    get:
      operationId: listCmbDeposits
      summary: List Deposits
      description: Retrieve deposit products with country-specific terms, rates, and regulatory classification.
      tags:
      - Deposits
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/CmbDeposit'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      properties:
        page_size:
          type: integer
        page_start:
          type: integer
        total_size:
          type: integer
    CmbDeposit:
      type: object
      description: Deposit product
      properties:
        depositId:
          type: string
          description: Deposit identifier
        customerId:
          type: string
          description: Customer identifier
        amount:
          type: number
          format: double
          description: Deposit amount
        currency:
          type: string
          description: Currency
        interestRate:
          type: number
          format: double
          description: Interest rate
        maturityDate:
          type: string
          format: date
          description: Maturity date
        status:
          type: string
          description: Deposit status
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
  parameters:
    pageStart:
      name: page_start
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
