openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Pricing Adjustment API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Pricing Adjustment
  description: Apply manual pricing adjustments including fee and interest rate modifications with expiry settings and negotiation workflows.
paths:
  /quotations/{quotationReference}:
    put:
      operationId: amendQuotationPricing
      summary: Amend Quotation Pricing
      description: Amend pricing details such as interest rates or fees for an existing simulated quotation reference as part of pricing negotiation.
      tags:
      - Pricing Adjustment
      parameters:
      - name: quotationReference
        in: path
        required: true
        description: Quotation reference identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingAmendment'
      responses:
        '200':
          description: Quotation pricing amended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    FeeDetail:
      type: object
      description: Fee detail
      properties:
        feeType:
          type: string
          description: Fee type
        description:
          type: string
          description: Fee description
        amount:
          type: number
          format: double
          description: Fee amount
        currency:
          type: string
          description: Fee currency
        frequency:
          type: string
          description: Fee frequency
    QuotationResult:
      type: object
      description: Quotation pricing result
      properties:
        quotationReference:
          type: string
          description: Quotation reference identifier
        productId:
          type: string
          description: Product identifier
        interestRates:
          type: array
          description: Applicable interest rates
          items:
            $ref: '#/components/schemas/InterestRateDetail'
        fees:
          type: array
          description: Applicable fees
          items:
            $ref: '#/components/schemas/FeeDetail'
        cashback:
          type: array
          description: Applicable cashback offers
          items:
            type: object
            properties:
              type:
                type: string
                description: Cashback type
              amount:
                type: number
                format: double
                description: Cashback amount
        negotiated:
          type: boolean
          description: Whether pricing has been negotiated
    InterestRateDetail:
      type: object
      description: Individual interest rate detail
      properties:
        rateType:
          type: string
          description: Rate type
          enum:
          - FIXED
          - VARIABLE
          - PROMOTIONAL
        baseRate:
          type: number
          format: double
          description: Base rate percentage
        benefit:
          type: number
          format: double
          description: Benefit adjustment
        netRate:
          type: number
          format: double
          description: Effective net rate
        effectiveDate:
          type: string
          format: date
          description: Rate effective date
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    PricingAmendment:
      type: object
      description: Pricing amendment request
      properties:
        interestRateAdjustment:
          type: number
          format: double
          description: Interest rate adjustment in basis points
        feeWaivers:
          type: array
          description: Fee waivers to apply
          items:
            type: object
            properties:
              feeType:
                type: string
                description: Fee type to waive
              waivePercentage:
                type: number
                format: double
                description: Percentage of fee to waive
        expiryDate:
          type: string
          format: date
          description: Expiry date for the adjustment
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
