openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Trade Finance API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Trade Finance
  description: Trade finance operations including letters of credit, guarantees, documentary collections, and trade document management.
paths:
  /tradeFinance/lettersOfCredit:
    get:
      operationId: listLettersOfCredit
      summary: List Letters Of Credit
      description: Retrieve letters of credit including import and export LCs with their document status and amendment history.
      tags:
      - Trade Finance
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/LetterOfCredit'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tradeFinance/guarantees:
    get:
      operationId: listGuarantees
      summary: List Guarantees
      description: Retrieve bank guarantees and standby letters of credit with their terms, beneficiaries, and expiry dates.
      tags:
      - Trade Finance
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Guarantee'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaginationHeader:
      type: object
      properties:
        page_size:
          type: integer
        page_start:
          type: integer
        total_size:
          type: integer
    LetterOfCredit:
      type: object
      description: Letter of credit
      properties:
        lcId:
          type: string
          description: LC identifier
        lcType:
          type: string
          description: LC type
          enum:
          - IMPORT
          - EXPORT
          - STANDBY
        applicant:
          type: string
          description: Applicant name
        beneficiary:
          type: string
          description: Beneficiary name
        amount:
          type: number
          format: double
          description: LC amount
        currency:
          type: string
          description: Currency
        expiryDate:
          type: string
          format: date
          description: Expiry date
        status:
          type: string
          description: LC status
    Guarantee:
      type: object
      description: Bank guarantee
      properties:
        guaranteeId:
          type: string
          description: Guarantee identifier
        guaranteeType:
          type: string
          description: Guarantee type
        applicant:
          type: string
          description: Applicant
        beneficiary:
          type: string
          description: Beneficiary
        amount:
          type: number
          format: double
          description: Guarantee amount
        currency:
          type: string
          description: Currency
        expiryDate:
          type: string
          format: date
          description: Expiry date
        status:
          type: string
          description: Guarantee status
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
  parameters:
    pageStart:
      name: page_start
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
