openapi: 3.2.0
info:
  title: Temenos Journey Manager Service Definitions API
  description: REST APIs for customer journey orchestration allowing external systems to integrate with Temenos Journey Manager for digital onboarding, form processing, and workflow management. Includes Application Package API, Delivery API, Form Groups API, Service Definitions API, Tasks API, Transactions API, Transaction History API, and Workspaces portal API.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://journey.temenos.com/api/
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://journey.temenos.com/api/v1
  description: Temenos Journey Manager API - Production
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Service Definitions
  description: Manage service definitions and parameters for journey integration services.
paths:
  /services:
    get:
      operationId: listServiceDefinitions
      summary: List Service Definitions
      description: Retrieve service definitions for journey integration services with their parameters and configurations.
      tags:
      - Service Definitions
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createServiceDefinition
      summary: Create Service Definition
      description: Create a new service definition for integration within customer journey workflows.
      tags:
      - Service Definitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDefinitionCreate'
      responses:
        '201':
          description: Service definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    ServiceDefinitionCreate:
      type: object
      description: Service definition creation request
      required:
      - name
      properties:
        name:
          type: string
          description: Service name
        description:
          type: string
          description: Service description
    ServiceDefinition:
      type: object
      description: Integration service definition
      properties:
        serviceId:
          type: string
          description: Service identifier
        name:
          type: string
          description: Service name
        description:
          type: string
          description: Service description
        parameters:
          type: array
          description: Service parameters
          items:
            type: object
            properties:
              name:
                type: string
                description: Parameter name
              type:
                type: string
                description: Parameter type
              required:
                type: boolean
                description: Whether required
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://journey.temenos.com/oauth2/authorize
          tokenUrl: https://journey.temenos.com/oauth2/token
          scopes:
            read: Read access
            write: Write access
externalDocs:
  description: Temenos Journey Manager API Documentation
  url: https://journey.temenos.com/api/svcs-guide/rest-api/
