openapi: 3.2.0
info:
  title: Temenos Journey Manager Form Groups API
  description: REST APIs for customer journey orchestration allowing external systems to integrate with Temenos Journey Manager for digital onboarding, form processing, and workflow management. Includes Application Package API, Delivery API, Form Groups API, Service Definitions API, Tasks API, Transactions API, Transaction History API, and Workspaces portal API.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://journey.temenos.com/api/
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://journey.temenos.com/api/v1
  description: Temenos Journey Manager API - Production
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Form Groups
  description: Create and manage form group configurations for organizing customer journey forms.
paths:
  /formGroups:
    get:
      operationId: listFormGroups
      summary: List Form Groups
      description: Retrieve all form group configurations for organizing and categorizing customer journey forms.
      tags:
      - Form Groups
      responses:
        '200':
          description: Successful retrieval of form groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFormGroup
      summary: Create Form Group
      description: Create a new form group for organizing customer journey forms.
      tags:
      - Form Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupCreate'
      responses:
        '201':
          description: Form group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    FormGroup:
      type: object
      description: Form group configuration
      properties:
        formGroupId:
          type: string
          description: Form group identifier
        name:
          type: string
          description: Group name
        description:
          type: string
          description: Group description
        forms:
          type: array
          description: Forms in group
          items:
            type: string
    FormGroupCreate:
      type: object
      description: Form group creation request
      required:
      - name
      properties:
        name:
          type: string
          description: Group name
        description:
          type: string
          description: Group description
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://journey.temenos.com/oauth2/authorize
          tokenUrl: https://journey.temenos.com/oauth2/token
          scopes:
            read: Read access
            write: Write access
externalDocs:
  description: Temenos Journey Manager API Documentation
  url: https://journey.temenos.com/api/svcs-guide/rest-api/
