openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Form Groups API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Form Groups
  description: Create and manage form group configurations for organizing customer journey forms.
paths:
  /formGroups:
    get:
      operationId: listFormGroups
      summary: List Form Groups
      description: Retrieve all form group configurations for organizing and categorizing customer journey forms.
      tags:
      - Form Groups
      responses:
        '200':
          description: Successful retrieval of form groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFormGroup
      summary: Create Form Group
      description: Create a new form group for organizing customer journey forms.
      tags:
      - Form Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupCreate'
      responses:
        '201':
          description: Form group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    FormGroupCreate:
      type: object
      description: Form group creation request
      required:
      - name
      properties:
        name:
          type: string
          description: Group name
        description:
          type: string
          description: Group description
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    FormGroup:
      type: object
      description: Form group configuration
      properties:
        formGroupId:
          type: string
          description: Form group identifier
        name:
          type: string
          description: Group name
        description:
          type: string
          description: Group description
        forms:
          type: array
          description: Forms in group
          items:
            type: string
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
