openapi: 3.2.0
info:
  title: Temenos Journey Manager Tasks API
  description: REST APIs for customer journey orchestration allowing external systems to integrate with Temenos Journey Manager for digital onboarding, form processing, and workflow management. Includes Application Package API, Delivery API, Form Groups API, Service Definitions API, Tasks API, Transactions API, Transaction History API, and Workspaces portal API.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://journey.temenos.com/api/
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://journey.temenos.com/api/v1
  description: Temenos Journey Manager API - Production
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Tasks
  description: Manage tasks within customer journey workflows including assignment, completion, and status tracking.
paths:
  /tasks:
    get:
      operationId: listTasks
      summary: List Tasks
      description: Retrieve tasks within journey workflows including assignment and completion status.
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageStart'
      - name: assignee
        in: query
        description: Filter by assigned user
        schema:
          type: string
      - name: status
        in: query
        description: Filter by task status
        schema:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
      responses:
        '200':
          description: Successful retrieval of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    $ref: '#/components/schemas/PaginationHeader'
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    Task:
      type: object
      description: Journey workflow task
      properties:
        taskId:
          type: string
          description: Task identifier
        transactionId:
          type: string
          description: Parent transaction
        taskName:
          type: string
          description: Task name
        assignee:
          type: string
          description: Assigned user
        status:
          type: string
          description: Task status
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
        dueDate:
          type: string
          format: date-time
          description: Task due date
    PaginationHeader:
      type: object
      description: Pagination metadata
      properties:
        page_size:
          type: integer
        page_start:
          type: integer
        total_size:
          type: integer
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    pageStart:
      name: page_start
      in: query
      description: Starting record
      schema:
        type: integer
        minimum: 0
        default: 0
    pageSize:
      name: page_size
      in: query
      description: Records per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://journey.temenos.com/oauth2/authorize
          tokenUrl: https://journey.temenos.com/oauth2/token
          scopes:
            read: Read access
            write: Write access
externalDocs:
  description: Temenos Journey Manager API Documentation
  url: https://journey.temenos.com/api/svcs-guide/rest-api/
