openapi: 3.1.0
info:
  title: Temenos Buy Now Pay Later Accounts Accounts Arrangement Details API
  description: APIs for buy now pay later services with embedded Explainable AI for automated decisioning and credit offer matching. Supports interest-free and interest-bearing BNPL products with point-of-sale integration and full loan lifecycle management. Core banking agnostic and deployable on Temenos Banking Cloud.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/bnpl/v1
  description: Temenos BNPL API - Production
security:
- bearerAuth: []
tags:
- name: Accounts Arrangement Details
  description: Calculate payoff amounts, adjust closure charges, process early deposit redemptions, and handle external arrangement balances.
paths:
  /arrangements/{arrangementId}/payoff:
    get:
      operationId: calculatePayoffAmount
      summary: Calculate Payoff Amount
      description: Compute the closure costs for an arrangement including outstanding interest, charges, and early termination penalties.
      tags:
      - Accounts Arrangement Details
      parameters:
      - name: arrangementId
        in: path
        required: true
        description: Arrangement identifier
        schema:
          type: string
      responses:
        '200':
          description: Payoff calculation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoffCalculation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PayoffCalculation:
      type: object
      description: Payoff calculation result
      properties:
        arrangementId:
          type: string
          description: Arrangement identifier
        outstandingPrincipal:
          type: number
          format: double
          description: Outstanding principal
        accruedInterest:
          type: number
          format: double
          description: Accrued interest
        earlyTerminationFee:
          type: number
          format: double
          description: Early termination penalty
        outstandingCharges:
          type: number
          format: double
          description: Outstanding charges
        totalPayoff:
          type: number
          format: double
          description: Total payoff amount
        currency:
          type: string
          description: Currency
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos BNPL API Documentation
  url: https://developer.temenos.com/service/buy-now-pay-later
