openapi: 3.2.0
info:
  title: Temenos Transact Data Hub Data Streaming API
  description: High-performance APIs built on the near real-time Analytics Data Store (ADS) and Operational Data Store (ODS) from Temenos Transact Data Hub. Provides banking-specific analytical and operational data for comprehensive intra-day and historical analysis, reporting, and integration use cases utilizing real-time data streams and ETL transformations.
  version: 1.0.0
  contact:
    name: Temenos Developer Support
    url: https://developer.temenos.com/
    email: api.support@temenos.com
  license:
    name: Temenos Terms of Service
    url: https://www.temenos.com/legal-information/website-terms-and-conditions/
  termsOfService: https://www.temenos.com/legal-information/website-terms-and-conditions/
servers:
- url: https://api.temenos.com/transact-data-hub/v1
  description: Temenos Transact Data Hub API - Production
security:
- bearerAuth: []
tags:
- name: Data Streaming
  description: Manage event streaming configurations for capturing data replication events from committed transactions in real time.
paths:
  /streaming/configurations:
    get:
      operationId: listStreamingConfigurations
      summary: List Streaming Configurations
      description: Retrieve event streaming configurations for data replication and real-time event capture from committed transactions.
      tags:
      - Data Streaming
      responses:
        '200':
          description: Successful retrieval of configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamingConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createStreamingConfiguration
      summary: Create Streaming Configuration
      description: Create a new event streaming configuration to capture data replication events when transactions are committed to the system.
      tags:
      - Data Streaming
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingConfigurationCreate'
      responses:
        '201':
          description: Configuration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingConfiguration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description
    StreamingConfigurationCreate:
      type: object
      description: Streaming configuration creation request
      required:
      - entityType
      - targetTopic
      properties:
        entityType:
          type: string
          description: Entity type to stream
        targetTopic:
          type: string
          description: Target Kafka topic
        filterCriteria:
          type: string
          description: Optional filter criteria
    StreamingConfiguration:
      type: object
      description: Event streaming configuration
      properties:
        configurationId:
          type: string
          description: Configuration identifier
        entityType:
          type: string
          description: Entity type to stream
        targetTopic:
          type: string
          description: Target Kafka topic
        filterCriteria:
          type: string
          description: Filter criteria for events
        status:
          type: string
          description: Configuration status
          enum:
          - ACTIVE
          - INACTIVE
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Temenos Transact Data Hub Documentation
  url: https://developer.temenos.com/transact-data-hub
